<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMX BLOG</title>
  <script src="https://unpkg.com/htmx.org@1.9.7" integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body>
    <div class="max-w-7xl mx-auto p-5">
      <h1 class="text-2xl text-center font-bold mb-5">HTMX-GO BLOG</h1>
      <ul class="flex justify-center gap-5 mb-12">
        <li>Feed</li>
        <li>Create</li>
      </ul>
      <form hx-post="/addBlog" class="flex flex-col items-center justify-center gap-4" hx-target="#blogs">
        <input type="text" name="title" placeholder="Title" class="border rounded-md p-2">
        <input type="text" name="description" placeholder="Description" class="border rounded-md p-2">
        <button type="submit">add</button>
      </form>
      <div hx-get="/blogs" hx-trigger="load" hx-swap="outerHTML" id="blogs"></div>
    </div>
  </body>
</html>